<section id="software-section" style="margin-top: 175px;">
		<div class="container">
				<div class="col text-center">
						<h1 class="myheading">OUR SERVICES</h1>
				</div>
				<div class="card-deck-wrapper">
						<div class="card-deck" style="margin-top: 100px !important;">
								<div id="software-card0" class="card zoom"><img src="public/software-section/img/erp_development.jpg" class="card-img-top">
										<div class="card-block">
												<h4 class="card-title">Enterpise Software Development</h4>
												<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis ante nec nibh consequat, vitae mollis lacus scelerisque. Etiam tellus mauris, feugiat in pretium nec, sagittis a massa<br><br></p>
										</div>
								</div>
								<div id="software-card1" class="card zoom"><img src="public/software-section/img/Android-App-Development-Benefits.jpg" class="card-img-top">
										<div class="card-block">
												<h4 class="card-title">Mobile app development</h4>
												<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis ante nec nibh consequat, vitae mollis lacus scelerisque. Etiam tellus mauris, feugiat in pretium nec, sagittis a massa<br></p>
										</div>
								</div>
								<div id="software-card2" class="card zoom"><img src="public/software-section/img/idea.png" class="card-img-top">
										<div class="card-block">
												<h4 class="card-title">IT Consulting</h4>
												<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis ante nec nibh consequat, vitae mollis lacus scelerisque. Etiam tellus mauris, feugiat in pretium nec, sagittis a massa<br></p>
										</div>
								</div>
						</div>
					
						<div></div>
				</div>
		</div>
</section>
