.web-icon {
  color: white;
  padding: 50px;
  transform-origin:top;
  width:100%;
  height:100%;
  background:rgba(0.95,0.95,0.9,0.5);
  transform:translateY(0%) rotateX(0deg);
  transition:0.5s;
  font-size:6em;
  line-height:100px;
}

.web-box.card-flip-force .web-icon{
  /*cursor: pointer;*/
  transform:translateY(100%) rotateX(90deg);
}

/*
.web-box:hover .web-icon {
  cursor: pointer;
  transform:translateY(100%) rotateX(90deg);
}
*/

.web-back {
	padding: 50px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#323434;
	transition:0.5s;
	transform-origin:bottom;
	transform:translateY(-200px) rotateX(90deg);
	color:black;
	font-size:6em;
}


.web-box.card-flip-force .web-back{
  /*cursor: pointer;*/
  background: transparent;
  transform: translateY(0) rotateX(0deg);
}

/*
.web-box:hover .web-back {
  cursor: pointer;
  transform:translateY(0) rotateX(0deg);
}
*/
