<section id="web-section" style="margin-top: 100px;">
				 <div class="container">
						 <div class="row">
								 <div class="col text-center">
										 <h1 class="myheading">WEB DEVELOPMENT</h1>
								 </div>
						 </div>
						 <div class="card-deck-wrapper" style="margin-top:100px">
								 <div class="card-deck">
										 <div class="card flip-web">
												 <div id="web-box0" class="web-box">
														 <div class="web-icon text-center"><i class="fab fa-html5"></i></div>
														 <div class="web-back text-center"><i class="fab fa-css3-alt"></i></div>
												 </div>
										 </div>
										 <div class="card flip-web">
												 <div id="web-box1" class="web-box">
														 <div class="web-icon text-center"><i class="fab fa-js-square"></i></div>
														 <div class="web-back text-center"><i class="fab fa-node-js"></i></div>
												 </div>
										 </div>
										 <div class="card flip-web">
												 <div id="web-box2" class="web-box">
														 <div class="web-icon text-center"><i class="fab fa-java"></i></div>
															<div class="web-back text-center"><i class="fab fa-php"></i></div>
												 </div>
										 </div>
								 </div>
						 </div>
				 </div>

					 <div class="container" style="margin-top: 40px;">
						 <div class="card-deck-wrapper">
								 <div class="card-deck">
										 <div class="card flip-web">
												 <div id="web-box3" class="web-box">
														 <div class="web-icon text-center"><i class="fab fa-angular"></i></div>
														 <div class="web-back text-center "><i class="fab fa-react"></i></div>
												 </div>
										 </div>
										 <div class="card flip-web">
												 <div id="web-box4" class="web-box">
														 <div class="web-icon text-center"><i class="fab fa-vuejs"></i></div>
														 <div class="web-back text-center"><i class="fas fa-meteor"></i></div>
												 </div>
										 </div>
										 <div class="card flip-web">
												 <div id="web-box5" class="web-box">
														 <div class="web-icon text-center"><i class="fab fa-linux"></i></div>
															<div class="web-back text-center"><i class="fab fa-windows"></i></div>
												 </div>
										 </div>
								 </div>
						 </div>
				 </div>


		 </section>
