#container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.fullpage{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

html, body{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: gray;
}

.driving-tank{
	position: absolute;
	z-index: 999;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.driving-tank img{
	z-index: 999;
}

.lsfvideo{
	-webkit-border-top-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	border-top-right-radius: 50px;
}

.warzonevideo{
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-bottomright: 50px;
	border-bottom-right-radius: 50px;
}
