* {
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100vh;
	font-family: 'lato', sans-serif;
}

.intcannon-logo{
	width: 400px;
	height: 400px;
}

.logo-bullet{
	opacity: 0;
	position: absolute;
	top: 25.75%;
	left: 53%;
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 50%;
}

.container1{
	width: 100%;
	height: 100vh;
}

.left {
	z-index: -5;
	position: absolute;
	height: 100%;
	width: 50%;
}

.right{
	z-index: 9 !important;
	position: absolute;
	height: 100%;
	width: 150%;
	left: 50%;
	background: #C1C1C1;
	-webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.watch{
	position: absolute;
	top: 70%;
	line-height: 80px;
	right: 50%;
	transform: translateX(50%);
}


.watch button{
	transition: all ease .3s;
	font-weight: bold;
	border: 2px solid black;
	text-transform: uppercase;
	letter-spacing: 2px;

	min-width: 135px;
	margin: 10px;
	cursor: pointer;
	background: linear-gradient( to left, #ebebeb 50%,     #61768b 50% );
	background-position: right bottom;
	background-size: 200% 100%;
}

.watch button:hover, .btn:hover{
	background-position: left bottom;
    color: white;
}

.btn{
	color: black;
	transition: all ease .3s;
	font-weight: bold;
	border: 2px solid black;
	padding: 20px;
	min-width: 125px;
	margin-top: 20px;
	cursor: pointer;
	letter-spacing: 2px;
	background: linear-gradient( to left, #ebebeb 50%,     #61768b 50% );
	background-position: right bottom;
	background-size: 200% 100%;
}

.btn:hover{
	background-position: left bottom;
    color: white;
}

/*
.driving-tank{
	position: absolute;
	top: -10%;
	left: 50%;
	transform: translate(-50%, -50%);

}*/

.left-bottom{
	position: absolute;
	top: 95%;
	left: 5%;
	text-transform: uppercase;
	color: rgb(29, 29, 29);
	font-size: 14px;
	letter-spacing: 2px;
}

.left-menu{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;
	text-align: left;
}

.left-menu .description {
	margin-top: 0px;
	width: 70%;
}

.media {
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
}

.media ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#video-wrapper-outer{
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.myvideo{
	z-index: 2;
	position: relative;
	width: 0%;
	height: 0%;
}
