.image-container {
  height:500px;
  width:800px;
  position:relative;
}

.image-container img {
  width:100%;
  height:100%;
}

.transition-image {
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  transition:all 0.5s ease;
}

.transition-image.force-game-zoom {
  opacity:1;
  transform:scale(1.1);
}

.title i {
	opacity: 0;
	transition: all 0.5s ease;
}

.title i.show-nav {
	opacity: 1;
}

/*.transition-image:hover {
  opacity:1;
  transform:scale(1.1);
}*/

.images {
  display:flex;
  justify-content:space-around;
}

.title {
  height:20vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
