   <section id="about-section" style="margin-top: 100px;">
        <div class="container text-center">
            <div class="row">
                <div class="col text-center" style="margin-top: 50px;">
                    <h1 class="myheading">ABOUT US</h1>
                </div>
            </div>
            <div class="container" data-aos="zoom-in"><div class="card-deck-wrapper"  style="margin-top: 100px !important;">
            <div class="row">
                <div class="col col-12 col-lg-4" data-aos="fade-down" data-aos-duration="600" data-aos-delay="50" id="games-nav2">
                    <div id="GAMES" style="margin-top: 50px;" class="mybox"><i class="fa fa-rocket myicon"></i>
                        <h5 class="box-title" style="margin-top: 50px;"><strong>GAMES</strong></h5>
                        <p class="box-par" style="margin-top: 50px;">Lorem Ipsum is simly dummy text of the printing and typesetting industry. Lorem impsum has been the industry standard dummy text ever since 1500s<br><br></p><a href="#products-section" id="games-nav-button" class="about-button"><strong>Read more</strong></a></div>
                </div>
                <div class="col col-12 col-lg-4" data-aos="fade-down" data-aos-duration="500" id="web-nav2">
                    <div id="WEB"  style="margin-top: 50px;"class="mybox"><i class="fa fa-code myicon"></i>
                        <h5 class="box-title" style="margin-top: 50px;"><strong>WEB</strong></h5>
                        <p class="box-par" style="margin-top: 50px;">Lorem Ipsum is simly dummy text of the printing and typesetting industry. Lorem impsum has been the industry standard dummy text ever since 1500s</p><a href="#web-section" id="web-nav-button" class="about-button"><strong>Read more</strong></a></div>
                </div>
                <div class="col col-12 col-lg-4" data-aos="fade-down" data-aos-duration="800" data-aos-delay="100" id="soft-nav2">
                    <div id="SOFTWARE" style="margin-top: 50px;" class="mybox"><i class="fa fa-wrench myicon"></i>
                        <h5 class="box-title" style="margin-top: 50px;"><strong>SOFTWARE</strong></h5>
                        <p class="box-par" style="margin-top: 50px;">Lorem Ipsum is simly dummy text of the printing and typesetting industry. Lorem impsum has been the industry standard dummy text ever since 1500s<br><br></p><a href="#software-section" id="soft-nav-button" class="about-button"><strong>Read more</strong></a></div>
                </div>
            </div>
        </div>
    </section>
