.card-img-top.avatar-background {
  background-fit:cover;
  -webkit-clip-path:polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  clip-path:polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  z-index:1 !important;
}
#team-section{
	margin-top: 80px;
}
.profile-picture {
  margin-top:-100px;
  border-radius:50%;
  width:200px;
  height:200px;
  z-index:2;
  position:relative;
}

.member-name {
  margin-top:20px;
}

@media (max-height: 700px){
	#team-section{
		margin-top: 10px !important;
	}
}

@media (max-width: 576px) {
  .profile-picture {
    width:150px;
    height:150px;
  }
}

.paragraph-holder {
  padding:10px;
}
