.mybox {
  overflow:hidden;
  position:relative;
  transition:all 0.3s ease 0s;
  padding:35px 15px;
}

.myicon {
  font-size:2rem;
}

.mybox.neki {
  cursor:pointer;
  color:white;
  background:#767676;
}

.mybox.neki:before {
  content:"";
  width:40px;
  height:40px;
  border-width:20px;
  border-style:solid;
  border-color:#ececec #ececec rgba(1,1,1,0.2) rgba(0,0,0,0.2);
  top:-35px;
  right:-45px;
  transition:all 0.3s ease 0s;
  position:absolute;
}

.mybox.neki:before {
  top:0;
  right:0;
}

.about-button {
  display:inline-block;
  border-style:solid;
  padding:10px;
  text-decoration:none !important;
  color:black;
  border-radius:5px 25px !important;
  border-color:black;
}

.mybox.neki .about-button {
  border-color:white;
  color:rgb(255,255,255);
}

.box-par {
  height:150px;
}

@media (max-width: 500px) {
  .video-button {
    padding:10px !important;
  }
}

@media (max-width: 1024px) {
  .about-button {
    margin-top:-100px;
  }
}

.myheading:after {
  border-radius:2rem !important;
  content:"" !important;
  width:50% !important;
  height:.2rem !important;
  position:absolute !important;
  bottom:-2rem !important;
  left:50% !important;
  transform:translateX(-50%) !important;
  background:linear-gradient(90deg,  rgba(1,1,1,1) 0%, black 50%, rgba(1,1,1,1) 100%);
}
