<section id="team-section">
    <div class="container">

        <div class="row">
            <div class="col-6" data-aos="fade-left" data-aos-duration="700">

                    <div class="card-deck">
                        <div id="team-box0" class="card text-center zoom"><img src="public/team-section/img/1-9-2.jpg" class="card-img-top avatar-background"><img src="public/team-section/img/emir.jpg" class="profile-picture">
                            <h4 class="member-name">Emir Hasanbegović</h4>
                            <p><strong>Web Developer</strong></p>
                            <div class="paragraph-holder">
                                <p>Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,</p>
                            </div>
                            <div class="card-deck"></div>
                        </div>
                    </div>

            </div>
            <div class="col-6" data-aos="fade-right" data-aos-duration="700">

                    <div class="card-deck">
                        <div id="team-box1" class="card text-center zoom"><img src="public/team-section/img/1-9-2.jpg" class="card-img-top avatar-background"><img src="public/team-section/img/vid.jpg" class="profile-picture">
                            <h4 class="member-name">Vid Rijavec</h4>
                            <p><strong>Game developer</strong></p>
                            <div class="paragraph-holder">
                                <p>Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, </p>
                            </div>
                            <div class="card-deck"></div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</section>
