
<h1 class="title">
	<i id="my-arrow-up" class="fas fa-arrow-circle-up "></i>
</h1>
    <div class="images">
        <div id="left-game-box" class="image-container">
			<img id="g-box0" src="public/games-section/img/warzone.png" class="zoom-effect-games">
			<img id="g-box1" src="public/games-section/img/warzonehover.png" class="transition-image zoom-effect-games">
		</div>
        <div id="right-game-box" class="image-container">
			<img id="g-box2" src="public/games-section/img/lsf.png" class="zoom-effect-games">
			<img id="g-box3" src="public/games-section/img/lsfhover.png" class="transition-image zoom-effect-games">
		</div>
  	</div>

	<h1 class="title">
		<i id="my-arrow-down" class="fas fa-arrow-alt-circle-down "></i>
	</h1>
